.index-header-container{
  display: block;
  align-items: center;
  padding: 10px 0px;
}

.icon-n-header{
  display: flex;
  align-items: center;
}

.header-title{
  font-size: 42px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.header-title-p2{
  font-size: 42px;
  color: #28e98c;
  margin-bottom: 0px;
  margin-top: 0px;
}