body {
  margin: 0;
  font-family: inter;
  background-color: rgba(31,31,31,1);
  color: white;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
